<div class="block">
	INFRA:
		<select id="infraId"  (change)="onChangeInfra($event.target.value)"    >
			  <option   *ngFor="let infraObj of infraIds" value="{{infraObj.infraId}}"  >
                  {{infraObj.infraName}}
              </option>	 
		</select>
</div>
<div class="block">
    PARTNER:
        <select id="clientId" (change)="onChangeClient($event.target.value)"  >
			  <option   *ngFor="let clientDto of clientIds"  value="{{clientDto.clientId}}" >
                  {{clientDto.clientName}}
              </option>	 
		</select>
</div>		 